body {
    font-family: 'SimSun', '宋体', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;   /* 设置字体大小 */
    font-weight: bold;  /* 设置字体加粗 */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 24px;
    margin-bottom: 5px;
}

input {
    font-size: 20px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
    width: 60%; /* 相对父容器宽度 */
    margin: 0 auto;      /* 水平居中 */
    height: 40px;         /* 设置按钮的高度 */
    display: flex;           /* 使用 flex 布局 */
    align-items: center;      /* 垂直居中 */
    justify-content: center;  /* 水平居中 */
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}